/* Déclaration de la police */
@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter.ttf") format("woff2")
}

/* Variables globales : nommage basé sur les rôles */
:root {
    --color-primary: #3574F0; /* Couleur principale */
    --color-primary-hover: #0b5ed7;
    --color-primary-light: #EFF8FF;/* Couleur du bouton au survol */
    --color-background-light: #FAFAFA; /* Couleur de fond claire */
    --color-text-dark: #535862; /* Texte principal */
    --color-input-placeholder: #717680; /* Texte des placeholders */
    --color-label-text: #414651; /* Texte des labels */
    --color-heading: #181D27; /* Couleur pour les titres */
    --color-border-light: #E9EAEB; /* Couleur pour les bordures légères */
}

/* Paragraphe standard */
p {
    color: var(--color-text-dark);
    font-size: 16px;
    font-weight: 300;
}

/* Style des titres des erreurs */
.titre-erreur {
    color: var(--color-heading);
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

/* Style des titres */
.titre {
    color: var(--color-heading);
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

/* Logo */
.logo {
    width: 30px;
    height: 30px;
    background: linear-gradient( var(--color-primary) 0%, #B05ADB 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.logo-text {
    text-decoration: none;
    color: white;
    font-family: monospace;
}

/* typographie */
h2 {
    font-family: "Inter" !important;
    font-weight: 580 !important;
    color: var(--color-heading) !important;
}

.sous-titre {
    font-family: "Inter" !important;
    font-weight: 300 !important;
    color: var(--color-text-dark) !important;
    font-size: 16px !important;
}

/* Navigation */
.nav {
    display: inline-block;
    border-bottom: var(--color-border-light) 1px solid;
}

.btn{
    font-weight: 500 !important;
    font-family: "Inter" !important;
    border: 1px #D5D7DA solid !important;
    border-radius: 8px !important;
    color: var(--color-label-text) !important;
}

.btn:hover{
    background-color: #EEEEEE    !important;
}

/* Boutons de navigation */
.btn-nav {
    padding: 8px 12px;
    border-radius: 6px;
    text-decoration: none;
}

.btn-nav a {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-label-text);
}

.disabled {
    border: none !important;
    color: var(--color-text-dark) !important;
}

/* État actif et survol des boutons de navigation */
.btn-nav-active {
    background-color: var(--color-border-light);
}

/* Boutons principaux */
.btn-primary {
    background-color: var(--color-primary) !important;
    margin: 0 !important;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover) !important;
}

/* Champs de formulaire */
.form-control {
    color: var(--color-input-placeholder) !important;
    font-size: 16px !important;
    font-weight: 300 !important;
}

/* Labels des formulaires */
.label-form {
    font-size: 14px !important;
    color: var(--color-label-text) !important;
    font-weight: 400 !important;
}

/* Burger de la navbar */

.navbar-burger{
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #fafafa;
    align-items: center;
    position: relative;
}
.navbar-burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
}

.navbar-burger span:nth-child(1),
.navbar-burger span:nth-child(3) {
    transition: transform 0.3s ease-out;
}

.navbar-burger span:nth-child(1){
    transform: translateY(7px);
}

.navbar-burger span:nth-child(3){
    transform: translateY(-7px);
}
.navbar-burger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
}
.navbar-burger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
}
.navbar-burger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
}

/* Button de la barre de navigation */
.button-nav:hover {
    background-color: var(--color-border-light);
}

.pagination-page {
    display: flex;
}

/* Bouton de pagination */
.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none !important;
    list-style: none;
    height: 40px;
    width: 40px;
    text-align: center !important;
    border-radius: 5px;
    margin: 0px 2px;
}

.pagination-item.active {
    background-color: var(--color-primary-light);
}

.pagination-item:hover {
    background-color: var(--color-primary-light);
}

/* Badge */
.badge {
    background-color: var(--color-primary-light) !important;
    border: none !important;
    border-radius: 50px !important;
}

th{
    font-weight: normal;
}

thead{
    background-color: var(--color-border-light);
}

/* Menu fixe */
.menu-deroulant {
    position: absolute;
    display: none; /* Caché par défaut */
    z-index: 10;
    background-color: white;
}

.content {
    padding: 2rem;
}

.stat-card {
    background-color: rgba(53, 116, 240, 0.08);
    opacity: 0.9;
    padding: 1.5rem;
    margin: 1rem 0;
}

.stat-card i {
    background-color: var(--color-primary);
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
}

.stat-card h5 {
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
}

.stat-card p {
    color: var(--color-primary);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.stat-card h3 {
    font-size: 1.8rem;
    color: var(--color-primary);
    margin-top: 0.5rem;
}